html, body {
  margin: 0;
  padding: 0;
}
  
html {
  font-size: 10px;
  background-color: #94c1f5;
}

h1 {
  font-weight: bold;
  color: #0a3464;
  font-family: "Lucida Sans";
}

ul li {
  display: flex;
  color:#0a3464;
}
