html, body {
  margin: 0;
  padding: 50px;
}

html {
  font-size: 10px;
  background-color: #94c1f5;
}

h1, h2, h3 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0e2a4a;
}

p, li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0e2a4a;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 10px;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 2rem;
  line-height: 1.5;
}

header {
  margin-bottom: 10px;
}

nav {
  height: 20px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  color: #0e2a4a;
}

main {
  text-align: center;
}

.scam {
  text-align: center;
  font-size: 3rem;
}
